services:
  api:
    image: backend
    build:
      context: api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - api/.env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: postgres:15.7-alpine
    restart: always
    env_file:
      - api/.env
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    image: frontend
    build:
      context: web
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    networks:
      - app-network
    depends_on:
      - api

volumes:
  db-data:

networks:
  app-network:
